<%
  @created_by = ""
  if @wiki.user
    @created_by = @wiki.user.email
  else
    @created_by = current_user.email
  end
%>
<div class="row">
  <div class="col-md-12">
    <%= form_for(@wiki) do |f| %>
      <% if @wiki.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>
          <ul>
          <% @wiki.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title, size: 100 %>
      </div>
      <%= f.label :body %>
      <div class = "field" id="epiceditor" style="border:1px solid black">  
      </div>
      <div class="field" style="display:none">
        <%= f.text_area :body, id: :wiki_body %>
      </div>
      <div class="field">
        <%= f.label :private %>: <%= f.check_box :private %>
      </div>
      <div class="field">
        <%= f.label :image %><br>
        <%= f.text_field :image %>
      </div>
      <div class="field">
        Created by: <i><%= @created_by %></i>
      </div>
  </div>
</div>
<div class = "row">
  <div class = "col-md-12">
    <h4><u>Collaborators</u></h4>
      <%= f.select :collab_list, User.all.map { |u| [u.email, u.id] }, { include_blank: true, selected: @array }, { class: 'chosen-select', multiple: true } %>
    <br /><br />
    <div class="actions">
      <%= f.submit %>
    </div>
    <br />
   <% end %>
  </div>
</div>