<div class="row">
  <div class="col-md-6">
    <hr />
    <% @array = [] %>
    <% @wiki.collaborators.each do |c| %>
      <%= c.user.email %> 
      <% @array << c.user.id %>
      <%= link_to c, method: :delete, confirm: "Are you sure?" do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
      <br />
    <% end %>
    <hr />
    <H1>Edit</H1>
    <%= form_for(@wiki) do |f| %>
      <% if @wiki.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>
          <ul>
          <% @wiki.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :body %><br>
        <%= f.text_area :body, id: :wiki_body %>
      </div>
      <div class="field">
        <%= f.label :private %><br>
        <%= f.check_box :private %>
      </div>
      <div class="field">
        <%= f.label :image %><br>
        <%= f.text_field :image %>
      </div>
      <div class="field">
        <%= f.label :user_id %><br>
        <%= f.number_field :user_id, value: current_user.id, readonly: true %>
      </div>
  </div>
  <div class="col-md-6">
    <p id="notice"><%= notice %></p>
    <H1>Preview</H1>
      <div class="field">
        <label>Title</label><br />
        <input type = "text" value = "Title">
      </div>
      <div class="field">
        <label>Body</label><br />
        <textarea id = "wiki_body_preview">Body</textarea>
      </div>
  </div>
</div>
<div class = "row">
  <div class = "col-md-12">
    <h4><u>Collaborators</u></h4>
    Wiki collaborator IDs = <%= @wiki.collaborators.ids %><br />
    Wiki collaborator USER IDs = <%= @array %>
    <%#= f.fields_for :collaborators do |c| %>
      <%= f.select :collab_list, User.all.map { |u| [u.email, u.id] }, { include_blank: true, selected: @array }, { class: 'chosen-select', multiple: true } %>
      <%#= f.collection_select :collaborators, User.all, :id, :email, { include_blank: true, selected: @array }, { class: 'chosen-select', multiple: true }  %>
    <%# end %>
    <br /><br />
    <div class="actions">
      <%= f.submit %>
    </div>
    <br />
   <% end %>
  </div>
</div>
<%= link_to 'Show', @wiki %> |
<%= link_to 'Back', wikis_path %>